.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin-left: 30%;
    margin-right: 30%;
}
.form{
    margin-right: 30%;
    margin: auto;
    line-height: 1.5;
    font-size: 20px;

}
.form-label{
   color: black;
}
.simple{
    color: red;
    text-align: center;
}